<div class="flex flex-col">
  <div class="my-1 mt-2 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Next Game</div>
        <div class="text-gray-500 dark:text-slate-300 italic text-xs">
          La Liga 2010
        </div>
        <div class="text-gray-500 dark:text-slate-300 italic text-xs">
          November 14, 2010 (1 day)
        </div>
        <div class="flex flex-row font-bold mt-10 text-3xl">
          <div class="ml-4 place-self-center">Real Madrid FC</div>
        </div>
        <div class="text-gray-500 mt-2 dark:text-slate-300">Record: 1-3</div>
        <button class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-10 w-full mt-4">
          See team
        </button>
      </div>
    </div>
  </div>
  <div class="my-1 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Calendar</div>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Recent results</div>
        <table class="table-auto w-full text-lg text-slate-100 my-10">
          <tbody>
            <tr
              class="bg-green-400 hover:bg-green-300 border-b border-slate-300 dark:border-slate-600 dark:bg-green-600 dark:hover:bg-green-500">
              <td class="px-6">Atletico Madrid</td>
              <td class="text-right px-6">3-0</td>
            </tr>
            <tr
              class="bg-green-400 hover:bg-green-300 border-b border-slate-300 dark:border-slate-600 dark:bg-green-600 dark:hover:bg-green-500">
              <td class="px-6">Valencia</td>
              <td class="text-right px-6">4-1</td>
            </tr>
            <tr
              class="bg-red-400 hover:bg-red-300 border-b border-slate-300 dark:border-slate-600 dark:bg-red-600 dark:hover:bg-red-500">
              <td class="px-6">Athletic Bilbao</td>
              <td class="text-right px-6">1-3</td>
            </tr>
            <tr
              class="bg-red-400 hover:bg-red-300 border-b border-slate-300 dark:border-slate-600 dark:bg-red-600 dark:hover:bg-red-500">
              <td class="px-6">Sevilla</td>
              <td class="text-right px-6">0-1</td>
            </tr>
          </tbody>
        </table>
        <button class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-10 w-full bottom-full mt-4">
          See all
        </button>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">My statistics</div>
        <table class="table-auto w-full text-lg text-black my-8 dark:text-slate-100">
          <tbody>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Wins</td>
              <td class="px-6 text-center">60</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Draws</td>
              <td class="px-6 text-center">20</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Losses</td>
              <td class="px-6 text-center">13</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Average team goals</td>
              <td class="px-6 text-center">2.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="my-1 flex flex-col flex-items-center h-full 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Squad</div>
        <table class="table-auto w-full text-lg text-black my-8 dark:text-slate-100">
          <tbody>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">GK</td>
              <td class="px-6">Valdes</td>
              <td class="px-6">85</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">DEF</td>
              <td class="px-6">Abidal</td>
              <td class="px-6">82</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">DEF</td>
              <td class="px-6">Puyol</td>
              <td class="px-6">92</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">DEF</td>
              <td class="px-6">Piqué</td>
              <td class="px-6">89</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">DEF</td>
              <td class="px-6">Daniel Alves</td>
              <td class="px-6">87</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">MF</td>
              <td class="px-6">Sergio Busquets</td>
              <td class="px-6">85</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">MF</td>
              <td class="px-6">Iniesta</td>
              <td class="px-6">92</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">MF</td>
              <td class="px-6">Xavi</td>
              <td class="px-6">90</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">FW</td>
              <td class="px-6">Pedro</td>
              <td class="px-6">87</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">FW</td>
              <td class="px-6">Messi</td>
              <td class="px-6">95</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">FW</td>
              <td class="px-6">David Villa</td>
              <td class="px-6">90</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="my-1 flex flex-col flex-items-center h-full 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Championship results</div>
        <div class="text-gray-500 dark:text-slate-300 italic text-xs">
          La Liga 2010
        </div>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Team rankings</div>
        <div class="text-gray-500 dark:text-slate-300">Teams</div>
      </div>
    </div>
  </div>
</div>
